body {
margin: 0%;
padding:0%; 
}

.div_A{
    background-color: #ff7f00; 
    width: 500px ; 
    height: 500px;
}

.div_B{
    background-color: #90ee90; 
    width: 50%; 
    height: 50%;
}

.div_C{
    color: white; 
    background-color: red; 
    font-size: 25px;
     font-family: monospace; 
     font-weight: bold;

}

.div_D{
    background-color: rgb(50, 153, 204); 
    height: 50vh; 
    width: 50%;
}

.div_E{
    background-color: rgb(255, 0, 0); 
    width: 75vw;
     height: 50%;
}